
@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title.</h2>

<ul>
    <li>@Html.ActionLink("Food", "Details", "Categories", new { CategoryName = "Food" }, null)</li>
    <li>@Html.ActionLink("Tech", "Details", "Categories", new { CategoryName = "Tech" }, null)</li>
    <li>@Html.ActionLink("Sports", "Details", "Categories", new { CategoryName = "Sports" }, null)</li>
</ul>

