@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>COMP2084 - Lab 2</h1>
    <p class="lead"> This lab is checking my ability to successfully create a new mvc web application and use some basic MVC Concepts</p>
    <p>Source code available at <a href="https://github.com/chamnich/comp2084-lab2">GitHub</a>.</p>
</div>
